.contenido {
  
  width: 100vw;
  height: 300px;
  position: relative;
  margin: 0px 40px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}


.imagen1-contenido {

  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 70%; /* Valor por defecto para pantallas grandes */
  height: 300px;
  color: white;
}

.imagen2-contenido {

  background-color: red;
  width: 50%; /* Valor por defecto para pantallas grandes */
}

.avi-logo{
  position: relative;
  left: 13rem;
  top: 4rem;
  margin: -30px 10px;
  width: 100px;
  height: 80px;
}

.titulo1, .titulo2 {
  position: relative;
  left: -6rem;
  top: 1rem;
  font-size: 35px;
}
.titulo-sub{
  position: relative;
  left: -7.7rem;
  top: -1rem;
  font-size: 40px;
}
.destinos{
  position: relative;
  left: -2.5rem;
  top: -2rem;
  font-size: 17px;
}
.cont-dest{
  position: relative;
  left: -8.9rem;
  top: -3rem;
  font-size: 16px;
}

p {
  font-size: 12px;
}

.button-compraya {
   position: relative;
   left: 9.5rem;
   top: -4rem;
   padding: 10px 15px;
  margin: 10px 0;
  color: black;
  border: none;
  font-weight: 550;
  background-color: white;
   font-size: 15px;
  border-radius: 20px;
}

.button-compraya:hover {
  background-color: gray;
  color: white;
  border: none;

  }
@media (max-width: 768px) {

  .contenido {
    width: 100vw;
    flex-direction: column;
    height: auto;
  }

  .imagen1-contenido {
    width: 100vw;
    height: 200px;
  }

.avi-logo{
  position: relative;
  left: 9rem;
  top: 2rem;
  margin: -30px 10px;
  width: 100px;
  height: 80px;
}

.titulo1 {
  position: relative;
  left: -3rem;
  top: 1rem;
  font-size: 35px;
}
.titulo-sub{
  position: relative;
  left: -4rem;
  top: -1rem;
  font-size: 40px;
}
.destinos{
  position: relative;
  left: -1.3rem;
  top: -2rem;
  font-size: 16px;
}
.cont-dest{
  position: relative;
  left: -5.8rem;
  top: -3rem;
  font-size: 16px;
}

p{
  font-size: 14px;
}

.button-compraya{
  border: none;
  position: relative;
  left: 5rem;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  height: 40px;
}
.button-compraya:hover{
  background-color: black;
  color: white;
  
}

  .imagen2-contenido {
    width: 100vw;
    padding: 20px;
  }
}
