.contenido {
  
  width: 100vw;
  height: 300px;
  position: relative;
  margin: 0px 40px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}


.imagen1-contenido {

  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 70%; /* Valor por defecto para pantallas grandes */
  height: 300px;
  color: white;
}

.imagen2-contenido {

  background-color: red;
  width: 50%; /* Valor por defecto para pantallas grandes */
}

.titulo1, .titulo2 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

.button-compraya {
  
  margin: 10px 0;
  color: black;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.9);
   font-size: 15px;
  border-radius: 20px;
}

.button-compraya:hover {

  }
@media (max-width: 768px) {

  .contenido {
    width: 100vw;
    flex-direction: column;
    height: auto;
  }

  .imagen1-contenido {
    width: 100vw;
    height: 200px;
  }

.titulo1 {
  font-size: 20px;
}
.titulo2{
  font-size: 22px;
}
p{
  font-size: 14px;
}

.button-compraya{
  border: none;
  position: relative;
  left: 5rem;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 30px;
}
.button-compraya:hover{
  background-color: black;
  color: white;
  
}

  .imagen2-contenido {
    width: 100vw;
    padding: 20px;
  }
}
