.cajon-azul {
  background: linear-gradient(to bottom, #80d8ff, #ffffff);
  background-size: cover;
  background-position: center;
  height: 30vh;
  padding: 40px;

}
.container{
  margin-bottom: 20px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.3); /* Blanco con 70% de opacidad */
  border-radius: 20px;
}

.flight-options {

  background: rgba(255, 255, 255, 0.5); /* Blanco con 70% de opacidad */
  position: relative;
  right: 200px;
  display: inline-block;
  margin: 10px;
  flex-direction: row;
  border-radius: 25px;
  justify-content: start;
  color: #000;
}

.flight-button {
  display: inline-block;
  color: #000;
  background-color: #ffffff; /* Color de fondo inicial del botón */
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s; /* Transiciones para suavizar el cambio de estilos */
  align-items: center;
}

.flight-button:hover {
  background-color: #ffffff;
  color: #000000; /* Color de fondo al pasar el cursor sobre el botón */
  border: none;
}

.flight-button.active {
  color: #000000;
  font-weight: bold; /* Texto en negrita cuando el botón está activo */
  border: none;
}

.indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0,0,0,0.5); /* Borde negro por defecto */
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  transition: 0.3s; /* Transiciones para suavizar el cambio de estilos */
}

.indicator.active {
  background-color: #4CAF50; /* Fondo verde cuando el indicador está activo */
  border: none; /* Sin borde cuando el indicador está activo */
}

/* Origen y destino */

.container-search{
  background: rgba(255, 255, 255, 0.5); /* Blanco con 70% de opacidad */
border: 20px;
justify-content: space-between;

}
.search-fields {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px; /* Espacio entre los inputs */
  flex-direction: center;
}

.field {
  display: inline-block;
  position: relative;
  flex: 1;
  
  width: 30; /* Hace que cada input ocupe la mitad del espacio */
}

.icon-img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

input {
  padding: 10px 10px 10px 40px; /* Añadir espacio para la imagen */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: black;
  width: 160px;
}

input::placeholder {
  position: relative;
  bottom : 7px;
  font-size: 10px;
}

input:hover {
  outline: none;
  border-bottom: 2px solid green;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  color: black;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Asegúrate de que los campos de fecha se muestren correctamente */
.field input[type="date"] {
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible en .field */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: black;
}

.date-label {
  position: absolute;
  top: -10px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */
  font-size: 12px; /* Tamaño del texto pequeño */
  color: #666; /* Color del texto */
  background-color: #fff; /* Fondo blanco para el label */
  padding: 0 5px; /* Espaciado alrededor del texto */
}
/* Ajusta el campo de fecha para incluir el ícono dentro del input */
.date-picker,
.date-picker1 {
  position: relative; /* Necesario para posicionar el ícono dentro del input */
  padding: 10px 10px 10px 40px; /* Asegura que el ícono esté dentro del campo de entrada */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: black;
  width: 160px; /* Ajusta el ancho si es necesario */
}

/* Asegura que el ícono se posicione correctamente dentro del campo */
.date-picker::before,
.date-picker1::before {
  content: url('./calendario.png'); /* Ruta de tu ícono */
  position: absolute;
  left: 10px; /* Ajusta según sea necesario */
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Ajusta el tamaño del ícono si es necesario */
  height: 20px;
}



/* Opcional: Puedes añadir estilos para el botón de búsqueda */
.search-button {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  size: bold;
  transition: 0.2s
}

.search-button:hover {
  background-color: #696969;
  color: #fff;
  size: bold;
}

/* Estilos para el componente PassengerCounter */
.passenger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.passenger-button img {
  margin-right: 5px;
}

.passenger-button span {
  font-size: 16px;
  font-weight: bold;
}

.passenger-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  right: 0;
}

.passenger-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.passenger-type span {
  font-size: 10px;
  color:black;
  padding: 10px;
}

.passenger-type button {
  color: black;
  width: 3px;
  border-radius: 50px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
}
.passenger-type button:hover{
  width: 3px;
  color: green;
  border: 1px solid green;
}

