.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    width: 100%;
    height: 10vh;
    text-align: center;

    
    
}

.logo img {
  margin-right: 45px;
  margin-left: 10px;
  position: relative;
  bottom: 17px;
    height: 35px;
}

.ul{
  list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 30px;

}

.li1{

  height: 40.5px;
  width: 100px;
font-size: 14px;
transition: 0.20s;
border: none;


}
.li1:hover{
  font-size: 14.1px;
  color: #000000;
  cursor: pointer;
  border-bottom: 5px solid green;
  font-weight: bold;
}

.li2{
 height: 40.5px;
  width: 150px;
font-size: 14px;
transition: 0.20s;
border: none;

}
.li2:hover{
  font-size: 14.1px;
  color: #000000;
  cursor: pointer;
  border-bottom: 5px solid red;
  font-weight: bold;

}

.li3{
 height: 40.5px;
  width: 150px;
font-size: 14px;
transition: 0.20s;
border: none;

}
.li3:hover{
  font-size: 14.1px;
  color: #000000;
  cursor: pointer;
  border-bottom: 5px solid blue;
font-weight: bold;


}

.li4{
 height: 40.5px;
  width: 150px;
font-size: 14px;
transition: 0.20s;
border: none;
}
.li4:hover{
  font-size: 14.1px;
  color: #000000;
  cursor: pointer;
  border-bottom: 5px solid pink;
font-weight: bold;

}


.li5{
 height: 40.5px;
  width: 80px;
font-size: 14px;
transition: 0.20s;
border: none;
}
.li5:hover{
  font-size: 14.1px;
  color: #000000;
  cursor: pointer;
  border-bottom: 5px solid #4a235a;
font-weight: bold;

}

.button-target{
 color: rgba(0,0,0,0.8);
  position: relative;
  left: 10px;
  bottom: 8px;
  padding: 15px;
  font-size: 14px;
background-color: #4f4f4f;
border: none;

transition: 0.20s;


}
.button-target:hover{
font-size: 14.05px;
background-color: #000000;
color: #fff;
font-weight: bold;

}


