.preparate-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9;
  width: 100%;
}

.titulo {
  font-size: 28px;
  margin-bottom: 30px;
  color: #111;
  font-weight: bold;
}

.tarjetas {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 350px;
  height: 120px;
  width: 100%;
  text-align: left;
  transition: transform 0.2s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.icono {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.tarjeta h3 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  color: #111;
}

.tarjeta p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: #555;
}

/* Responsive */

 
@media (max-width: 768px) {
  .tarjetas::-webkit-scrollbar {
    height: 5px; /* altura de la barra horizontal */
  }

  .tarjetas::-webkit-scrollbar-track {
    background: #eee; /* fondo de la pista */
    border-radius: 4px;
  }

  .tarjetas::-webkit-scrollbar-thumb {
    background-color: gray; /* color del scroll */
    border-radius: 2px;
    border: 2px solid #eee; /* espacio alrededor del scroll */
  }
}
  .tarjetas {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 20px;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    overflow-x: auto;
  }

  .tarjeta {
    flex: 0 0 auto;
    scroll-snap-align: start;
    min-width: 80%;
    max-width: 80%;
    height: auto;
  }
   .icono {
    width: 60px;
    height: 60px;
  }
 
}


