
html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ocupa toda la pantalla */
  background-color: #ffffff;
}
.loader-contianer img{
  width: 100px;
  height: 100px;
}

#root {
  max-width: none;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
html{
  scroll-snap-type:  y mandatory;
  overflow-y: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App{ width: 100%;
  height: 100vh;
  padding: 0rem;
  text-align: center;
}

.content-1{
  width: 100vw;
  height: auto;
  display: flex;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3 ease;
 
}

.search-form-float {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border: 2px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 100%;
  height: auto;
  transition: all 0.3 ease;
}

.close-btn {
  margin-top: 10px;
  position: relative;
  bottom: 10rem;
  left: 40rem;
  color: black;
  font-weight: bold; 
  font-size: 16px;
  background-color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 @media (max-width: 768px) {
   .close-btn{
     position: relative;
     left: 10rem;
     bottom: 0rem;
     z-index: 1;
   }
 }
